@import "tailwindcss";

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Adjust this value to control vertical space */
}

body{
  background-color: #1f1f28;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.main-content {
    overflow-y: auto;
}

.navbar-container:hover ~ * .main-content,
.sidebar-container:hover ~ .main-content {
    pointer-events: none;
}

.main-content:hover {
    pointer-events: auto;
}